{% extends "layout.html" %}

{% block content %}

<h2>Randomly generated password:</h2>
<br>

<!-- This script is the javascript that allows the button onclick event to copy the new password to the clipboard -->
<script>
    function CopyToClipboard(id)
    {
    var r = document.createRange();
    r.selectNode(document.getElementById(id));
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(r);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
    }
</script>

<h2 id="newPW">{{ passwd }}</h2>
<form a href="#" onclick="CopyToClipboard('newPW');return false;">
    <button class="copyButton" type="submit">Copy to Clipboard</button>
</form>

{% endblock %}
